---
layout: default
title: Julien Bordellier
---
<header class="head">
  <h1>Julien Bordellier</h1>
  <h2>Some pensées et quelques thoughts</h2>
</header>
<main class="content">
  {% for post in paginator.posts %}
    <article>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <h2><time>{{ post.date | date: "%d %B %Y" }}</time></h2>
      <p>{{ post.content | truncatehtml | truncatewords: 30 }}</p>
    </article>
  {% endfor %}
</main>
<!--
      <div id="post-pagination">
      {% if paginator.previous_page %}
      <p class="prev">
        {% if paginator.previous_page == 1 %}
        <a href="/">Previous</a>
        {% else %}
        <a href="/page{{paginator.previous_page}}"> Previous</a>
        {% endif %}
      </p>
      {% else %}
         <p class="prev disabled">
        <span>Previous</span>
      </p>
      {% endif %}

      <ul class="pages">
        <li class="page">
          {% if paginator.page == 1 %}
             <span class="current-page">1</span>
          {% else %}
             <a href="/">1</a>
          {% endif %}
        </li>

        {% for count in (2..paginator.total_pages) %}
        <li class="page">
          {% if count == paginator.page %}
          <span class="current-page">{{count}}</span>
          {% else %}
          <a href="/page{{count}}">{{count}}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

      {% if paginator.next_page %}
      <p class="next">
        <a href="/page{{paginator.next_page}}">Next</a>
      </p>
      {% else %}
         <p class="next disabled">
        <span>Next</span>
      </p>
      {% endif %}
    </div>
    -->
</div>