---
layout: default
---
<main class="content">
	<section class="container">
		<div class="row-fluid">
			<article class="home-icon">
				<a href="/">
					<i class="icon-home"></i> 
				</a>
			</article>
			<article class="post">
				<h2 class="content">{{page.title}}</h2>
					<h5>
					{{ page.date | date_to_string }}
					<span>
						<a href="https://twitter.com/jstoja/">
			 				<span class="fa-stack fa-2x fa-color">
	  						<i class="fa fa-square-o fa-stack-2x"></i>
	  						<i class="fa fa-twitter fa-stack-1x"></i>
							</span>							
						</a>
		 				<a href="http://blog.julienbordellier.com/atom.xml">
			 				<span class="fa-stack fa-2x fa-color">
	  						<i class="fa fa-square-o fa-stack-2x"></i>
	  						<i class="fa fa-rss fa-stack-1x"></i>
							</span>	
		 				</a>

 					</span>
					</h5>
				<section>
					{{ content }}
					<hr>
				</section>
				<section style="margin-bottom: 2em;">
					{% if page.previous %} 
					<a rel="prev" class="a-hover"href="{{ page.previous.url }}"><i class="icon-arrow-left"></i> {{ page.previous.title }}</a>
					{% endif %}
					{% if page.next %} 
					<a rel="next" style="float:right" class="a-hover"href="{{ page.next.url }}">{{ page.next.title }} <i class="icon-arrow-right"></i></a>
					{% endif %}
				</section>
				<section>
					{% if page.comments %}
					<div id="disqus_thread"></div>
					<script type="text/javascript">
						var disqus_shortname = 'julienbordellier';
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
					{% endif %}
				</section>
			</article>
		</div>
	</section>
</main>
